h1{font-size: 60px;}

h3{font-size: 100px;}

.familiaTexto{Font-family: "segoeui"; font-size: 20px; color: rgb(255, 255, 255); text-align: justify;}

.bodyprincipal{background-color: rgb(0, 0, 0)}

.headerverde{background-color: darkgreen;}

.headerazul{background-color: blue;}