h1{
    font-size: 60px;
}

h3{
    font-size: 100px;
}

.familiaTexto{
    font-family: "papyrus";
    font-size: 20px;
    color: rgb(255, 0, 221);
    text-align: justify;
}


body{
    background-color: rgb(0, 238, 255)
}